<h1><%= @genre.name %></h1>
<div class="member-container">
	<div class=member-box>
		<h2>1ジャン</h2>
		<%if @genre1_users_info!=nil %>
			<% @genre1_3rd_users.each do |genre1_3rd_user| %>
			<p>
				<%= genre1_3rd_user.term %>th
				<%=link_to genre1_3rd_user.name, user_path(genre1_3rd_user.id),class: "user_name" %></br>
			</p>
			<%end%>
			<% @genre1_2nd_users.each do |genre1_2nd_user| %>
			<p>
				<%= genre1_2nd_user.term %>th
				<%=link_to genre1_2nd_user.name, user_path(genre1_2nd_user.id),class: "user_name" %></br>
			</p>
			<%end%>
			<% @genre1_1st_users.each do |genre1_1st_user| %>
			<p>
				<%= genre1_1st_user.term %>th
				<%=link_to genre1_1st_user.name, user_path(genre1_1st_user.id),class: "user_name" %></br>
			</p>
			<%end%>
		<%end%>
	</div>

	<div class=member-box>
		<h2>2ジャン</h2>
		<%if @genre2_users_info!=nil %>
			<% @genre2_3rd_users.each do |genre2_3rd_user| %>
			<p>
				<%= genre2_3rd_user.term %>th
				<%=link_to genre2_3rd_user.name, user_path(genre2_3rd_user.id),class: "user_name" %></br>
			</p>
			<%end%>
			<% @genre2_2nd_users.each do |genre2_2nd_user| %>
			<p>
				<%= genre2_2nd_user.term %>th
				<%=link_to genre2_2nd_user.name, user_path(genre2_2nd_user.id),class: "user_name" %></br>
			</p>
			<%end%>
			<% @genre2_1st_users.each do |genre2_1st_user| %>
			<p>
				<%= genre2_1st_user.term %>th
				<%=link_to genre2_1st_user.name, user_path(genre2_1st_user.id),class: "user_name" %></br>
			</p>
			<%end%>
		<%end%>
	</div>

</div>



<%if @request_users_info!=nil %>
	<h2>申請中</h2>
	<% @request_users_info.each do |request_user_info| %>
		<%= request_user_info.user.name %>
		<!--部門長であることの確認処理-->
		<% genre1 = current_user.user_genre_infos.where(priority: 1) %>
		<% if current_user.is_genre_leader? && genre1[0]!=nil && @genre.id == genre1[0].genre_id %>
			<%=button_to '承認', user_genre_info_path(info_id: request_user_info.id, genre_id: @genre.id),method: :patch, class: "btn btn-primary btn-sm" %>
		<%end%>
	<%end%>
<%end%>


<% if current_user.belongs_to_genre?(@genre) %>
<div class="button-center">
  <%=link_to 'ジャンル退会', user_genre_info_path(@genre), method: :delete, class: " my-5 btn btn-danger ", data: {confirm: "退会前に部門長に確認してください。退会しますか？"}%>
  </div>
<%end%>


