<% genre1_name = user.genre1_name %>
<% genre2_name = user.genre2_name %>
<h3 class="mt-3"><%= user.term %>th　<%= user.name %></h3>

<% if flash[:add_genre_leader_error] %>
  <div class="alert alert-danger">
    <%= flash[:add_genre_leader_error] %>
  </div>
<% end %>

<table class="table ">
	<tbody>
		<tr>
			<td>1ジャン</td>
			<td><%= genre1_name %>
				<% if genre1_name.include?("申請中") && user==current_user %>
				<% genre1_info  = user.get_genre1_info %>
				<%= link_to '申請取り消し',{controller: "user_genre_infos", action: "destroy_request", info_id: genre1_info.id}, method: :patch, class: "btn btn-danger" %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>2ジャン</td>
			<td><%= genre2_name %>
				<% if genre2_name.include?("申請中") && user==current_user %>
				<% genre2_info  = user.get_genre2_info %>
				<%= link_to '申請取り消し',{controller: "user_genre_infos", action: "destroy_request", info_id: genre2_info.id}, method: :patch,class: "btn btn-danger" %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>その他</td>
			<td>
				<%if user.is_admin %> 代表 <%end%>
				<%if user.is_genre_leader? %> 部門長 <%end%>
			</td>
		</tr>
	</tbody>
</table>

	<%=link_to '', edit_user_path(user.id), class: "fas fa-edit btn btn-outline-secondary btn-block text-dark"%>

<div class="mt-2 mb-5">
<%=link_to 'ジャンル申請', new_user_genre_info_path, class: "btn btn-secondary btn-block "%>
</div>
<%if current_user.is_admin==true && user.is_admin==true%>
	<%=  link_to '- 代表', user_change_is_admin_path(user_id: user.id), method: :patch, class: "btn btn-danger"%>
<%end%>
<%if current_user.is_admin==true && user.is_admin==false%>
	<%=  link_to '+ 代表', user_change_is_admin_path(user_id: user.id), method: :patch, class: "btn btn-success" %>
<%end%>
<%if current_user.is_admin==true && user.is_genre_leader? == true%>
	<%=  link_to '- 部門長', {controller: "user_genre_infos",
								   action: "destroy_genre_leader", user_id: user.id}, method: :patch, class: "btn btn-danger" %>
<%end%>
<%if current_user.is_admin==true && user.is_genre_leader? == false%>
	<%=  link_to '+ 部門長', {controller: "user_genre_infos",
								   action: "add_genre_leader", user_id: user.id}, method: :patch, class: "btn btn-success" %>
<%end%></br>