<div class="container">
	<div class='row'>
		<div class='col-lg-4'>
			<%= render 'users/user_info', user: current_user %>
		</div>
		<div class='col-lg-8'>


			<h3>部員一覧</h3>
			<table class="table">
				<thead>
					<tr>
						<th>代</th>
						<th>名前</th>
						<th>ジャンル</th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
						<tr>
							<td class="none_wrap"><%= user.term %></td>
							<td><%=link_to user.name, user_path(user.id),class: "user_name" %></td>
							<td>1:<%= user.genre1_name %></br>2:<%= user.genre2_name %></td>
							<!-- <td>
								<% if user.is_admin %>代表<%end%>
								<% if user.is_genre_leader? %>部門長<%end%>
							</td> -->
						</tr>
					<%end%>
				</tbody>
			</table>
		</div>
	</div>
</div>

