<div class="event_form">
	<%= form_for(@event) do |f| %>

		<div class="field  text-center">
        <%= f.label :name,'イベント名' %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field  text-center">
        <%= f.label :description,'概要または連絡事項' %><br />
        <%= f.text_area :description, autofocus: true, autocomplete: "description" %>
      </div>

      <div class="field text-center">
        <%= f.label :start_at,'イベント開始日' %><br />
       <%= f.date_select :start_at, {}%>
      </div>

      <div class="field text-center">
        <%= f.label :end_at,'イベント終了日' %><br />
       <%= f.date_select :end_at, {}%>
      </div>

      <div class="mt-3">
          <div class="field mt-2">
            <%= f.label :url1,'リンク1', class: "url_description"%>
            <%= f.url_field :url1, autofocus: true, autocomplete: "url1"%><br>
            <%= f.label :url1_description,'リンク1の表示' , class: "url_description"%><br>
            <%= f.text_field :url1_description, autofocus: true, autocomplete: "description", id: "url_description_field" %><br>
          </div>
          <div class="field mt-2">
            <%= f.label :url2,'リンク2', class: "url_description"%><br>
            <%= f.url_field :url2, autofocus: true, autocomplete: "url2"%><br>
            <%= f.label :url2_description,'リンク2の表示' , class: "url_description"%><br>
            <%= f.text_field :url2_description, autofocus: true, autocomplete: "description", id: "url_description_field" %><br>
          </div>
          <div class="field mt-2">
            <%= f.label :url3,'リンク3', class: "url url_description"%><br>
            <%= f.url_field :url3, autofocus: true, autocomplete: "url3" %><br>
            <%= f.label :url3_description,'リンク3の表示' , class: "url_description"%><br>
            <%= f.text_field :url3_description, autofocus: true, autocomplete: "description", id: "url_description_field" %><br>
          </div>
      </div>

      <div class="actions text-center">
        <%= f.submit "保存" ,class: "btn btn-outline-info "%>
      </div>

      <% if @event.errors.any? %>
        <div id="error_explanation">
          <ul>
          <% @event.errors.full_messages.each do |message| %>
            <li class="text-danger"><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
	<% end %>
</div>
<!-- フラッシュメッセージの表示 -->
<% if flash[:event_participation_error]%>
  <div class="alert alert-danger">
      <%= flash[:event_participation_error] %>
    </div>
<% end %>


<div class="event_participants">
管理者の編集
    <table class="table">
      <thead>
        <tr>
          <th>代</th>
          <th>名前</th>
          <th>管理者権限</th>
        </tr>
      </thead>
      <tbody>
        <% @event.event_participations.reverse_each do |event_participation| %>
        <tr>
          <td><%= event_participation.user.term %></td>
          <td><%= event_participation.user.name %></td>
          <td>
            <%if event_participation.is_event_admin %>
                <%= form_for(event_participation) do |f| %>
                  <%= f.hidden_field :event_id, :value => @event.id %>
                  <%= f.hidden_field :is_event_admin, :value => false %>
                  <%= f.submit "-" ,class: "btn btn-outline-warning btn-sm event_admin_assignment" %>
                <% end %>
            <% else %>
                <%= form_for(event_participation) do |f| %>
                  <%= f.hidden_field :event_id, :value => @event.id %>
                  <%= f.hidden_field :is_event_admin, :value => true %>
                  <%= f.submit "+" ,class: "btn btn-outline-success btn-sm event_admin_assignment" %>
                <% end %>
            <%end%>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>