<div class="container">
  <div class='row'>
    <div class='col-lg-2'></div>
    <div class='col-lg-8 text-center mt-5'>
      <% if flash[:join_request_error] %>
        <div class="alert alert-danger">
          <%= flash[:join_request_error] %>
        </div>
      <% end %>
      <%= form_for(@user_genre_info) do |f| %>
        <%= f.radio_button :priority, 1 %>
        <%= f.label :priority, "1ジャン", {value: 1, style: "display: inline-block;"} %>
        <%= f.radio_button :priority, 2 %>
        <%= f.label :priority, "2ジャン", {value: 2, style: "display: inline-block;"} %>
        <%= f.select :genre_id, [["Lock", 1.to_i], ["Hiphop", 2], ["Punking", 3], ["Break", 4], ["Juzz", 5], ["Poping", 6], ["Krump", 7], ["House", 8], ["Girls", 9]], include_blank: "ジャンル選択" %>
        <%= f.hidden_field :user_id, :value => current_user.id %>

        <div class="actions">
          <%= f.submit "申請する" %>
        </div>
      <% end %>
    </div>
    <div class='col-lg-2'></div>
  </div>
</div>

