<!DOCTYPE html>
<html>
  <head>
    <title>FfApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand" >FinalFlash</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%=link_to ' '+current_user.name, user_path(current_user.id), class: "glyphicon glyphicon-home" %></li>
            <li><%=link_to ' 部員一覧', users_path,class: "glyphicon glyphicon-user" %></li>
            <li><%=link_to ' ジャンル一覧', genres_path,class: "glyphicon glyphicon-user" %></li>
            <li><%=link_to ' ログアウト', destroy_user_session_path, method: :delete,class: "glyphicon glyphicon-log-out" %></li>
          <% else %>
            <li><%=link_to ' Home', '/', class: "glyphicon glyphicon-home"%></li>
            <li><%=link_to ' About', '/home/about',class: "glyphicon glyphicon-link" %></li>
            <li><%=link_to ' 部員登録', new_user_registration_path,class: "glyphicon glyphicon-edit" %></li>
            <li><%=link_to ' ログイン', new_user_session_path,class: "glyphicon glyphicon-log-in" %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
