<!DOCTYPE html>
<html>
  <head>
    <title>FF部員管理</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
          <p class="navbar-brand lead ff" >FinalFlash</p>
        <ul class="nav justify-content-end ">
          <% if user_signed_in? %>
            <li><%=link_to ' '+current_user.name, user_path(current_user.id), class: "fas fa-user-alt mx-3 text-light" %></li>
            <li><%=link_to ' 部員', users_path,class: "fas fa-user-friends mx-3 text-light" %></li>
            <li><%=link_to ' ジャンル', genres_path,class: "mx-3 text-light" %></li>
            <li><%=link_to ' ログアウト', destroy_user_session_path, method: :delete,class: "fas fa-sign-out-alt mx-3 text-light" %></li>
          <% else %>
            <li><%=link_to ' Home', '/', class: "fas fa-home mx-3 text-light"%></li>
            <li><%=link_to ' 部員登録', new_user_registration_path,class: "fas fa-user-plus mx-3 text-light" %></li>
            <li><%=link_to ' ログイン', new_user_session_path,class: "fas fa-sign-in-alt mx-3 text-light" %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div  class="mt-3">
       <%= yield %>
      </div>
    </div>

  </body>
</html>
